<mat-card>
  <mat-card-title>
    Edit User
  </mat-card-title>
  <mat-card-content class="container" fxLayout="column">
    <mat-spinner *ngIf="loading|async"></mat-spinner>

    <form name="editUserForm" id="editUserForm" (submit)="saveUser()" [hidden]="loading|async">
      <h5>User info</h5>
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="Name" name="nameInput">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="username" placeholder="Username" name="usernameInput">
      </mat-form-field>

      <h5>Roles</h5>
      <app-edit-model-list
        [available]="possibleRoles"
        [current]="roles"
        [displayWith]="displayWith"
      >
      </app-edit-model-list>

      <h5>Groups</h5>
      <app-edit-model-list
        [displayWith]="displayWith"
        [available]="possibleGroups"
        [current]="groups"
      >

      </app-edit-model-list>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [color]="'primary'" form="editUserForm">Save</button>
  </mat-card-actions>
</mat-card>
