<mat-expansion-panel hideToggle="true" (opened)="openedPanel()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{assignment.title}}
    </mat-panel-title>
    <div>

      <div>

      </div>
      <div>

      </div>
      <mat-panel-description>
        {{assignment.remainingTime|remainingTime}}

        <mat-icon *ngIf="assignment.remainingTime > 0 && assignment.remainingTime < 259200000; else goodTime"
                  class="close">
          alarm
        </mat-icon>
        <ng-template #goodTime>
          <mat-icon *ngIf="assignment.remainingTime > 0; else dead" class="good-time">alarm</mat-icon>
        </ng-template>
        <ng-template #dead>
          <mat-icon *ngIf="assignment.remainingTime < 0" class="dead">alarm</mat-icon>
        </ng-template>
      </mat-panel-description>

    </div>


  </mat-expansion-panel-header>
  <h4>Description:</h4>
  <h5> {{assignment.description}}</h5>
  <br>
  <h5>Posted: {{assignment.startDate|date:"dd/MM/y - HH:mm:ss"}}</h5>
  <h5>Due Date: {{assignment.endDate|date:"dd/MM/y - HH:mm:ss"}}</h5>
  <h4>Uploads</h4>
  <mat-list>
    <div *ngFor="let handIns of assignment.handinAssignments">
      <div *ngFor="let name of handIns.fileNames">
        <mat-list-item>{{name}}</mat-list-item>
      </div>
    </div>
  </mat-list>

  <mat-action-row>
    <div>
      <h5>Time remaining: {{assignment.remainingTime|remainingTime}}</h5>
    </div>
    <div fxLayout="row">
    </div>
    <div fxFlex="50%">
      <button mat-raised-button (click)="fileInput.click()">Upload assignment</button>
      <input type="file" multiple style="display: none" (change)="uploadedAssignment(fileInput.files)" #fileInput>
    </div>
  </mat-action-row>


</mat-expansion-panel>
