<div fxLayout="column" fxFlex>
  <mat-card-header>
    <mat-card-title>
      <h2>Calendar</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxFlex>
    <div fxLayout="column" fxFlex>
      <div fxFlex>
        <div *ngFor="let day of daysOfWeek" class="calendarDays" fxFlex="100px">
          <h4>{{day.name}}</h4>
          <mat-list>
            <mat-list-item *ngFor="let activity of weekActivities|async|dayfilter:day.number">
              {{activity.title}}
            </mat-list-item>
          </mat-list>
        </div>
      </div>

      <div *ngIf="exportUrl !== ''" fxLayout="row">
        <mat-form-field fxFlex fxLayout="column">
          <textarea matInput fxFlex placeholder="Url for calender applications" readonly
                    [(ngModel)]="exportUrl"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayout="row">
    <button mat-button (click)="decrementWeek()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="week-label">{{week|async}}</span>
    <button mat-button (click)="incrementWeek()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
    <span fxFlex></span>
    <button mat-button *ngIf="exportUrl === ''" (click)="exportCalender()">Export calender</button>
  </mat-card-actions>

</div>
