<mat-expansion-panel hideToggle="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{assignment.title}}
    </mat-panel-title>
    <div>

      <div>

      </div>
      <div>

      </div>
      <mat-panel-description>
        Due {{assignment.remainingTime|date:"dd/MM - HH:mm:ss"}}
        <mat-icon color="warn">alarm</mat-icon>
      </mat-panel-description>
    </div>


  </mat-expansion-panel-header>
  <h4>{{assignment.description}}</h4>
  <br>
  <h5>Posted: {{assignment.startDate|date:"dd/MM/y - HH:mm:ss"}}</h5>
  <h5>Due Date: {{assignment.endDate|date:"dd/MM/y - HH:mm:ss"}}</h5>
  <mat-action-row>
    <div fxLayout="row">
      <div fxFlex="50%">
        <h5>Time remaining: {{assignment.remainingTime|date:"dd/MM - HH:mm:ss"}}</h5>
      </div>
    </div>
    <div fxFlex="50%">
      <button mat-raised-button (click)="fileInput.click()">Upload assignment</button>
      <input type="file" multiple style="display: none" (change)="uploadedAssignment(fileInput.files)" #fileInput>
    </div>
  </mat-action-row>
</mat-expansion-panel>
