<mat-card>
  <mat-card-title>Create new assignment</mat-card-title>
  <mat-card-content>
    <form (submit)="save()" id="createAssignmentForm" fxLayout="column">
      <mat-form-field>
        <input name="titleInput" placeholder="Title" required #titleInput="ngModel" [(ngModel)]="title" matInput>
        <mat-error *ngIf="titleInput.hasError('required')">Title is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea name="descriptionInput" placeholder="Description" #descriptionInput="ngModel"
                  [(ngModel)]="description" matInput></textarea>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="48">
          <input name="startDateInput" matInput [matDatepicker]="startDatePicker" placeholder="Start Date" required
                 #startDateInput="ngModel" [(ngModel)]="startDate">
          <mat-error *ngIf="startDateInput.hasError('required')">Start date is required</mat-error>
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex="48">
          <input name="endDateInput" matInput [matDatepicker]="endDatePicker" placeholder="End Date" required
                 #endDateInput="ngModel" [(ngModel)]="endDate">
          <mat-error *ngIf="endDateInput.hasError('required')">End date is required</mat-error>
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button type="submit" form="createAssignmentForm" (click)="save()" mat-button>Submit</button>
  </mat-card-actions>
</mat-card>
