<div class="create-course-form">
  <div>
    <div>
      <mat-card>
        <mat-card-title>
          <h1>Create Course</h1>
        </mat-card-title>
        <div>
          <mat-card-content>
            <div class="example-container">
              <mat-form-field >
                <input matInput placeholder="Course Title">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Course description">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="">
              </mat-form-field>

            </div>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>
</div>
