.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.create-course-form{
 margin-top: 50px;
  margin-left: 50px;
  margin-right: 150px;
  max-width:750px;
}




