<mat-card-header>
  <mat-card-title>
    <h2>Courses</h2>
  </mat-card-title>
</mat-card-header>

<mat-card-content>
  <mat-nav-list>
    <a mat-list-item *ngFor="let course of courses|async" [routerLink]="[course.id]">
      <p matLine>{{course.title}}</p>
      <p matLine class="secondary">Start Date: {{course.startDate|date:"dd/MM/y - HH:mm:ss"}}</p>
      <p matLine class="secondary">End Date: {{course.endDate|date:"dd/MM/y - HH:mm:ss"}}</p>
      <a mat-icon-button *ngIf="isCourseManager|async" [routerLink]="[course.id, 'update']"
         (click)="$event.stopPropagation()">
        <mat-icon>mode edit</mat-icon>
      </a>
    </a>
  </mat-nav-list>
</mat-card-content>

<mat-card-actions>
  <a mat-button *ngIf="isCourseManager|async" [routerLink]="['new']">
    Create course
  </a>
</mat-card-actions>
