<div fxLayout="row">
  <div fxFlex="100%">
    <mat-card class="course-card">
      <mat-card-header fxLayout="row">
        <mat-card-title>
          <h1 fxFlex>Courses</h1>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div fxLayout="row" *ngFor="let course of courses|async">
          <div fxFlex="70%">
            <mat-nav-list>
              <a [routerLink]="[course.id]">
                <mat-list-item>{{course.title}}</mat-list-item>
                <mat-card-subtitle>Start Date: {{course.startDate|date:"dd/MM/y - HH:mm:ss"}}
                </mat-card-subtitle>
                <mat-card-subtitle>End Date: {{course.endDate|date:"dd/MM/y - HH:mm:ss"}}
                </mat-card-subtitle>

              </a>
            </mat-nav-list>
          </div>
          <div fxFlex="30%">
            <div>
              <a [routerLink]="[course.id, 'update']">
                <mat-icon>mode edit</mat-icon>
              </a>
            </div>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <a mat-icon-button [routerLink]="['new']">
          <mat-icon>add</mat-icon>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

