<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Create Lesson</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <!--title-->
        <mat-form-field>
          <input matInput #lessonTitleInput="ngModel" [(ngModel)]="lessonTitle"  name="lessonTitleInput" required placeholder="Lesson Title">
          <mat-error *ngIf="lessonTitleInput.hasError('required')">This is required</mat-error>
        </mat-form-field>
      <mat-form-field>
        <input matInput #lessonTitleInput="ngModel" [(ngModel)]="lessonTitle"  name="lessonTitleInput" required placeholder="Lesson Title">
        <mat-error *ngIf="lessonTitleInput.hasError('required')">This is required</mat-error>
      </mat-form-field>
      <!---->
      <div fxLayout="100%">
        <div fxFlex="50%">
          <mat-form-field>
            <input matInput [matDatepicker]="StartDatepicker" name="courseStartDate" #lessonStartDate="ngModel" [(ngModel)]="lessonStartDate" required placeholder="Start date">
            <mat-datepicker-toggle matSuffix [for]="StartDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #StartDatepicker></mat-datepicker>
            <mat-error *ngIf="lessonStartDate.hasError('required')">This is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="50%">
          <mat-form-field>
            <input matInput [matDatepicker]="EndDatepicker" name="lessonEndDate" #lessonEndDate="ngModel" [(ngModel)]="lessonEndDate" required placeholder="End date">
            <mat-datepicker-toggle matSuffix [for]="EndDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #EndDatepicker></mat-datepicker>
            <mat-error *ngIf="lessonEndDate.hasError('required')">This is required</mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>




  </mat-card-content>
</mat-card>
