<mat-card-title>
  My Page
</mat-card-title>
<mat-card-content>
  <h4>Name</h4>
  <p>{{user.name}}</p>

  <h4>Username</h4>
  <p>{{user.username}}</p>

  <h4>Password</h4>

  <h4>Roles</h4>
  <mat-list>
    <mat-list-item *ngFor="let role of user.roles">
      <span>{{role.title}} - {{role.description}}</span>
    </mat-list-item>
  </mat-list>

  <h4>Groups</h4>
  <mat-list>
    <mat-list-item *ngFor="let group of user.groups">
      <span>{{group.title}} - {{group.description}}</span>
    </mat-list-item>

  </mat-list>
</mat-card-content>
<mat-card-actions>
  <button mat-raised-button (click)="openPasswordDialog()">Change Password</button>
</mat-card-actions>
