<div *ngIf="user" class="container" fxLayout="column" fxLayoutGap="2pem">
  <h1>User Profile</h1>
  <div>Name: {{user.name}}</div>
  <div>Username: {{user.username}}</div>
  <button mat-raised-button (click)="openPasswordDialog()">Change Password</button>
  <h2>Roles</h2>
  <ul>
    <li *ngFor="let role of user.roles">{{role.title}} - {{role.description}}</li>
  </ul>
  <div *ngIf="user.groups">
    <h2>Groups</h2>
    <ul>
      <li *ngFor="let group of user.groups">{{group.title}} - {{group.description}}</li>
    </ul>
  </div>
</div>
