<div class="container">
  <h2>Edit User</h2>
  <form>
    <mat-form-field class="edit-user-input">
      <input matInput #searchInput type="text"
             placeholder="User"
             aria-label="Select user"
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete"
                        [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async"
                    [value]="option">
          {{ option.name }} ({{option.username}})
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <edit-user [user]="user|async" [roles]="roles|async"></edit-user>
</div>
