:host {
  width: 100%;
  height: 100%;
  display: block;
}

#main-outlet-container {
  width: calc(100% + 1px);
  max-height: 90vh;
  ::ng-deep > * {
    display: block;
  }
}

.container {
  overflow: hidden;
}
