<div fxLayout="row" fxLayoutAlign="center center" fxFlex="">

  <form name="loginForm" fxLayout="column" (submit)="login()">
    <md-input-container fxLayout="row">
      <input fxFlex mdInput #usernameInput="ngModel" [(ngModel)]="username" name="usernameInput" required
             placeholder="Username">
      <md-error *ngIf="usernameInput.hasError('required')">This is required</md-error>
    </md-input-container>
    <md-input-container fxLayout="row">
      <input fxFlex mdInput #passwordInput="ngModel" [(ngModel)]="password" name="passwordInput" required
             placeholder="Password">
      <md-error *ngIf="passwordInput.hasError('required')">This is required</md-error>
    </md-input-container>
    <button md-button>Login</button>
  </form>
</div>
