<div class="course-detail-format" *ngIf="course">
  <mat-card class="course-detail">
    <mat-list>
      <h3>Course Information</h3>
      <!--Title-->
      <mat-list-item>
        <h1>{{course.title}}</h1>
      </mat-list-item>

      <!--Description-->
      <mat-list-item>
        <h3>Description:</h3>
      </mat-list-item>
      <mat-list-item>
        <h4>{{course.description}}</h4>
      </mat-list-item>
    </mat-list>
  </mat-card>


  <mat-card class="course-detail-lesson">
    <!--Assignments-->
    <h3>Assignments</h3>
    <mat-card-actions>
      <a mat-icon-button routerLink="assignments/new">
        <mat-icon>add</mat-icon>
      </a>
    </mat-card-actions>
    <app-all-assignments [assignments]="course.assignments"> </app-all-assignments>
  </mat-card>

  <mat-card class="course-detail-lesson">
    <h3>Lessons</h3>
    <mat-list-item>
      <mat-list>
        <mat-list-item *ngFor="let lesson of course.lessons">
          <h4 mat-line>{{lesson.title}}</h4>
          <p mat-line> {{lesson.startDate|date:"dd/MM/y - HH:mm:ss"}} - {{lesson.endDate|date:"HH:mm:ss"}}</p>
        </mat-list-item>
        <mat-list-item>
          <a md-icon-button [routerLink]="['lesson', 'new']">
            <mat-icon>add</mat-icon>
          </a>
        </mat-list-item>
      </mat-list>
    </mat-list-item>
  </mat-card>


  <mat-card class="course-detail-lesson">
    <div fxLayout="row">
      <div fxFlex="50%">
        <h3>Participants</h3>
        <div *ngFor="let participant of participants">
          {{participant.name}}
        </div>
      </div>
      <div fxFlex="50%">
        <div>
          <button color="secondary" mat-raised-button="evaluationLink">Evaluations</button>
          <button color="secondary" mat-raised-button="evaluationStatistics">Evaluation Statistics</button>
        </div>
      </div>
    </div>
  </mat-card>

</div> <!--end format class-->










