<mat-card class="course-detail-lesson">
  <!--Assignments-->
  <mat-card-header>
    <mat-card-title>
      <h3>Assignments</h3>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div *ngFor="let assignment of assignments" class="" course-assignment
         style="margin-bottom: 11px;">
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{assignment.title}}
            </mat-panel-title>
            <mat-panel-description>
              Due {{assignment.remainingTime|date:"dd/MM - HH:mm:ss"}}
              <button color="warn" mat-icon-button="">
                <mat-icon>alarm</mat-icon>
              </button>
            </mat-panel-description>

          </mat-expansion-panel-header>
          <h4>{{assignment.description}}</h4>
          <br>
          <h5>Posted: {{assignment.startdate|date:"dd/MM/y - HH:mm:ss"}}</h5>
          <h5>Due Date: {{assignment.enddate|date:"dd/MM/y - HH:mm:ss"}}</h5>
          <mat-action-row>
            <div fxLayout="row">
              <div fxFlex="50%">
                <h5>Time remaining: {{assignment.remainingTime|date:"dd/MM - HH:mm:ss"}}</h5>
              </div>
              <div fxFlex="50%">
                <button color="secondary" mat-raised-button="handInAssignment">Hand In/Upload Assignment</button>
              </div>
            </div>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-icon-button [routerLink]="['assignments', 'new']">
      <mat-icon>add</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
