<form name="addUserForm" (submit)="saveUser()">
  <mat-form-field>
    <input matInput #nameInput="ngModel" [(ngModel)]="name" name="nameInput" required placeholder="name">
    <mat-error *ngIf="nameInput.hasError('required')">This is requiered</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput #usernameInput="ngModel" [(ngModel)]="username" name="usernameInput" required
           placeholder="username">
    <mat-error *ngIf="usernameInput.hasError('required')">This is requiered</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput #passwordInput="ngModel" [(ngModel)]="password" name="passwordInput" required
           placeholder="password">
    <mat-error *ngIf="passwordInput.hasError('required')">This is requiered</mat-error>
  </mat-form-field>
  <button mat-button>Save</button>
  <span>{{userCreationResponse}}</span>
</form>
