<mat-card-header>
  <h2>Add User</h2>
</mat-card-header>
<mat-card-content>
  <form name="addUserForm" id="addUserForm" (submit)="saveUser()">

    <div>
      <mat-form-field fxFlex="100%">
        <input matInput #nameInput="ngModel" [(ngModel)]="name" name="nameInput" required placeholder="Name">
        <mat-error *ngIf="nameInput.hasError('required')">This is required</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field fxFlex="100%">
        <input matInput #usernameInput="ngModel" [(ngModel)]="username" name="usernameInput" required
               placeholder="Username">
        <mat-error *ngIf="usernameInput.hasError('required')">This is required</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field fxFlex="100%">
        <input matInput #passwordInput="ngModel" [(ngModel)]="password" name="passwordInput" required
               placeholder="Password" type="password">
        <mat-error *ngIf="passwordInput.hasError('required')">This is required</mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-card-content>
<mat-card-actions>
  <a [routerLink]="['..']" mat-button color="warn">Cancel</a>
  <button mat-button form="addUserForm" color="primary">Save</button>
</mat-card-actions>
