<div class="course-update-format">
  <div>
    <div>
      <form (submit)="updateCourse()">
        <mat-card>
          <mat-card-title>
            <h1>Create Course</h1>
          </mat-card-title>
          <div>
            <mat-card-content>
              <div class="example-container">
                <!--Title-->
                <mat-form-field>
                  <input matInput #courseTitleInput="ngModel" [(ngModel)]="title" name="courseTitleInput" required
                         placeholder="Course Title">
                  <mat-error *ngIf="courseTitleInput.hasError('required')">This is required</mat-error>
                </mat-form-field>

                <!--Description-->
                <mat-form-field>
                  <textarea matInput #courseDescriptionInput="ngModel" [(ngModel)]="description"
                            name="courseDescriptionInput" required placeholder="Course description"></textarea>
                  <mat-error *ngIf="courseDescriptionInput.hasError('required')">This is required</mat-error>
                </mat-form-field>

                <!--Date picker-->
                <div fxLayout="100%">
                  <div fxFlex="50%">
                    <mat-form-field>
                      <input matInput [matDatepicker]="StartDatepicker" name="courseStartDate"
                             #courseStartDate="ngModel" [(ngModel)]="startDate" required placeholder="Start date">
                      <mat-datepicker-toggle matSuffix [for]="StartDatepicker"></mat-datepicker-toggle>
                      <mat-datepicker #StartDatepicker></mat-datepicker>
                      <mat-error *ngIf="courseStartDate.hasError('required')">This is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="50%">
                    <mat-form-field>
                      <input matInput [matDatepicker]="EndDatepicker" name="courseEndDate" #courseEndDate="ngModel"
                             [(ngModel)]="endDate" required placeholder="End date">
                      <mat-datepicker-toggle matSuffix [for]="EndDatepicker"></mat-datepicker-toggle>
                      <mat-datepicker #EndDatepicker></mat-datepicker>
                      <mat-error *ngIf="courseEndDate.hasError('required')">This is required</mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <!--Participants-->
                <div fxLayout="100%">
                    <div fxFlex="50%">
                      <form class="example-form">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
                          <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let user of (users|async)" [value]="user.name">
                              <img style="vertical-align:middle;" aria-hidden src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" height="25" />
                              <span>{{user.name}}</span> |
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </form>
                    <!--empty-->
                    <div fxFlex="60%">
                    </div>
                  </div>
                </div>
                  <!--Submit update-->
                  <div>
                    <br>
                    <button mat-raised-button color="secondary">Create Course</button>
                  </div>
                </div>
            </mat-card-content>
          </div>
        </mat-card>
      </form>
    </div>
  </div>
</div>

