<div fxLayout="row">
  <mat-card class="down" fxFlex="100%">
    <app-home-userdetail [user]="user|async"></app-home-userdetail>
  </mat-card>
</div>
<div fxLayout="row" class="down">
  <mat-card fxFlex="50%">
    <mat-card-header>Assignments</mat-card-header>
    <app-all-assignments [assignments]="assignments|async"></app-all-assignments>
  </mat-card>
  <mat-card fxFlex="50%">
    <mat-card-header>Courses</mat-card-header>
    <div *ngFor="let course of courses|async">
      <app-home-course-detail [course]="course"></app-home-course-detail>
    </div>
  </mat-card>
</div>
